body {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}
.slider {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 15px;
}

.slide {
    width: 100%;
}

.slide img {
    max-height: 450px;
}

.controller {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: .5px 2px 5px gray;
}

.dotsBox {
    margin: 10px;
}

.dot {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}
.dot:focus {
    outline: none;
}
.dot:hover {
    background: skyblue;
}
.selectedDot {
    background: yellow;
}